# Fundamentals of Data Analysis Project

<details>

<summary> Student Details </summary>

| Student| Details |
| -------- | -------- |
| Course: | KDATG_L08_Y1 |
| Author: | Rebecca Hannah Quinn |
| Student Number: | G00425671 |

</details>

---

Table of Contents:

[Fisher's Iris Data Set](#01)

---

<a id="01i">

## Fisher's Iris Data Set

</a>

The Iris Data Project is a renowned dataset in the machine learning community, consisting of 150 samples of iris flowers. Each sample is characterized by four features or attributes, namely sepal length, sepal width, petal length, and petal width. These samples are equally distributed amongst three different species: Setosa, Versicolor, and Virginica. This dataset is commonly employed for classification tasks in machine learning and data analytics to learn best practice in both. Despite the images of each flower in this dataset appearing quite similar, upon analyzing the samples, it becomes evident that the differences between the three varieties exist but are quite miniscule. <sup>[^1]</sup>

---

### Iris Varieties

|Setosa|Versicolor|Virginica|
|-------|------|------|
|![Image of Iris Setosa Variety](./Relevant%20Files/Images/iris_setosa.jpeg)|![Image of Iris Versicolor Variety](./Relevant%20Files/Images/iris_versicolor.jpeg)|![Image of Iris Virginica Variety](./Relevant%20Files/Images/iris_virginica.jpeg)|

---

### Importing the Iris Data Set and Initial Data Exploration

We first must import the data set in order to explore the information inside. We do this as below:

In [15]:
import pandas as pd

iris = pd.read_csv("./Relevant Files/Iris Data set/iris.csv")

iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [16]:
iris.head(20)

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa

In [17]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [18]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

<br>

### Initial Data Exploration

The `head()` method helps us take a quick look at the top and bottom rows of the dataframe. If you want to see a specific number of rows you just specify the number between the `()` as shown above, we see the first 20 rows of the Iris data set. To make sure there are also no missing values in the table we can use the `isnull()` method to so. If there are any it will return a true or false boolean as above. 

The `describe()` function shows the **count** or the number of non-null values - this is the 150 rows containing a value for each variable of flower species. The **max** and **min** shows the largest and smallest values in each variable. The **mean** shows the average value (or sizes listed for each variable of the flower variants). tHE **std** shows the spread of the data in relation to the **mean**: the standard deviation. This is used to determine the variability of the data points which we will see later in the plots. The `describe()` function also shows the number of data points that fall under the various percentiles. Using this function is the quickest way to get the basic statistics on any dataset but each can be used as an individual method if only specific statistic measurements are required. 

The `info()` method shows us a summary of the data frame in total and will show data types, null values (if any) and the number of data points and variables. This is used like `describe()` to quickly gather the information in a few short commands.

#### Initial Observations

#### Analysis and Classifications

##### Common Variable Types

##### Scales of Measurement in Mathematics, Statistics and Python

#### Plotting the Iris Data Set

In [19]:
#import packages for use with plotting 
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

##### Histogram
Histogram plots are useful to visualise the initial data and the distributions of each numerical variable and the range and frequency values of each.

In [20]:
sns.set_theme(style="darkgrid")
iris.hist(figsize=(10, 10), color='#2986cc', edgecolor='#FF8B3C')

#plt.show()
plt.savefig("histogram.jpeg") #remove the hash comment if you want to save a copy of the histogram image generated
plt.close()

#REF https://matplotlib.org/stable/gallery/statistics/hist.html

##### Violin Plot
Violin plots help show the different variables based on a catagory. In this case it is the `species` and their relevant variables in the dataframe.

In [22]:
#sepal length
pc = "bright" #palette color
fs = "10, 10" #figsize
x = "species"
sepallen = sns.violinplot(x=x, y="sepal_length", data=iris, palette=pc, figsize=fs)
#plt.show(sepallen)
plt.savefig("sepal_length.jpeg")
plt.close()

#sepal width
sepalwid = sns.violinplot(x=x, y="sepal_width", data=iris, palette=pc, figsize=fs)
#plt.show(sepalwid)
plt.savefig("sepal_width.jpeg")
plt.close()

#petal length
petallen = sns.violinplot(x=x, y="petal_length", data=iris, palette=pc, figsize=fs)
#plt.show(petallen)
plt.savefig("petal_length.jpeg")
plt.close()

#petal width
petalwid = sns.violinplot(x=x, y="petal_width", data=iris, palette=pc, figsize=fs)
#plt.show(petalwid)
plt.savefig("petal_width.jpeg")
plt.close()

#REF https://matplotlib.org/stable/gallery/statistics/violinplot.html

# REFERENCES

[^1]: https://gist.github.com/curran/a08a1080b88344b0c8a7

## END